body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url('./Martin-Luther-King-Jr.webp');
    background-size: cover;
}

.bio-container {
    max-width: 60vw;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1.name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
    background-color: rgba(234, 234, 234, 0.5);
    width: '100%';
}

section {
    margin-bottom: 20px;
}

iframe {
    width: 50vw;
    height: 55vh;
    padding: 1vw 5vw 0 5vw;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

p {
    line-height: 1.5;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #ddd;
    padding-left: 10px;
    margin-bottom: 20px;
}